<div>
  <mat-toolbar>COVID in Germany</mat-toolbar>
  <div class="cards-container">
    <mat-card>
      <mat-card-title>Plot 1</mat-card-title>
      <mat-card-subtitle>ple ple</mat-card-subtitle>
      <iframe
        src="assets/mpld3plot1data1.html"
        frameborder="0"
        width="700px"
        height="500px"
      ></iframe>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Plot 2</mat-card-title>
      <iframe
        src="assets/plotlyplot3data3.html"
        frameborder="0"
        width="700px"
        height="500px"
      ></iframe>
    </mat-card>

    <mat-card>
      <mat-card-title>Plot 3</mat-card-title>
      <iframe
        src="assets/plotlyplot3data3.html"
        frameborder="0"
        width="700px"
        height="500px"
      ></iframe>
    </mat-card>
  </div>
</div>
