<div>
  <mat-toolbar>COVID in Germany</mat-toolbar>
  <div class="cards-container">
    <mat-card>
      <iframe
        src="assets/germany_covid_main.html"
        frameborder="0"
        width="1200px"
        height="600px"
      ></iframe>
    </mat-card>

    <mat-card>
      <iframe
        src="assets/germany_mobility.html"
        frameborder="0"
        width="1200px"
        height="500px"
      ></iframe>
    </mat-card>

    <mat-card>
      <iframe
        src="assets/violin_plot_germany_cumulated.html"
        frameborder="0"
        width="1200px"
        height="500px"
      ></iframe>
    </mat-card>

    <mat-card>
      <iframe
        src="assets/violin_plot_Germany_daily.html"
        frameborder="0"
        width="1200px"
        height="500px"
      ></iframe>
    </mat-card>

    <mat-card>
      <iframe
        src="assets/federal_states_by_neighbours.html"
        frameborder="0"
        width="1200px"
        height="500px"
      ></iframe>
    </mat-card>

    <mat-card>
      <mat-card-title>Covid cases by region</mat-card-title>
      <app-interactive-map></app-interactive-map>
    </mat-card>

    <mat-card>
      <iframe
        src="assets/stock.html"
        frameborder="0"
        width="1200px"
        height="500px"
      ></iframe>
    </mat-card>
  </div>
</div>
